<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!--기본은 method가 get-->
    <form action="/users/update/{{user.id}}", method="POST">
        username : <input type="text" name="username" value="{{user.username}}"> <br>
        emali : <input type="email" name="email" value="{{user.email}}"> <br>
        <input type="submit" value="회원가입!">
    </form>
</body>
</html>